body {
  width: auto;
  margin: 80px;
  text-align:center;
  font-family:impact;
  background-image: url("milky-way.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
h1 {
  font-size:75px;
  color:rgba(255,255,255,0.75);
}
h3 {
  font-size:50px;
  color:rgba(255,255,255,0.75);
}
p {
border-style: ridge;
border-width: 20px;
border-radius: 10px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
}
