body {
  width: auto;
  margin: 80px;
  text-align: center;
  word-wrap: break-word;
  background-image: url(http://i64.tinypic.com/246pgsh.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.0005), rgba(0, 0, 0, 0.0005)), url(http://i64.tinypic.com/246pgsh.jpg);
  background-attachment: fixed;
  background-size: 100vw;
}

a:link {
  color: rgb(227, 188, 149);
  text-decoration: underline;
}

a:visited {
  color: rgb(184, 96, 9);
  text-decoration: underline;
}

a:hover {
  color: rgb(183, 219, 153);
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h5 {
  font-family: impact;
  text-decoration: underline;
  text-transform: uppercase;
  color:rgba(255,255,255,0.75);
  font-size: calc(10vw);
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

p {
  font-family: courier;
  font-weight: bold;
  font-size: 2vw;
  color: rgba(256,256,256,0.85);
  border-style: ridge;
  border-collapse: collapse;
  border-width: 20px;
  border-radius: 10px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

li {
  list-style-position: inside;
  list-style-type: upper-roman;
  font-family: courier;
  font-weight: bold;
  font-size: 2vw;
  color: rgba(255,255,255,0.85);
  border-style: ridge;
  border-width: 20px;
  border-collapse: collapse;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#scripting-for-the-web {
  font-size: 15vw;
}

@-webkit-keyframes fade {
  0% {color:rgba(255,255,255,0.75);}
  12.5% {color:rgba(255,255,255,0.625);}
  25% {color:rgba(255,255,255,0.50);}
  37.5% {color:rgba(255,255,255,0.375);}
  50% {color:rgba(255,255,255,0.25);}
  62.5% {color:rgba(255,255,255,0.125);}
  75% {color:rgba(255,255,255,0.0);}
  87.5% {color:rgba(255,255,255,1.0);}
  100% {color:rgba(255,255,255,87.5);}
}
@keyframes fade {
  0% {color:rgba(255,255,255,0.75);}
  12.5% {color:rgba(255,255,255,0.625);}
  25% {color:rgba(255,255,255,0.50);}
  37.5% {color:rgba(255,255,255,0.375);}
  50% {color:rgba(255,255,255,0.25);}
  62.5% {color:rgba(255,255,255,0.125);}
  75% {color:rgba(255,255,255,0.0);}
  87.5% {color:rgba(255,255,255,1.0);}
  100% {color:rgba(255,255,255,87.5);}
}
